.page {
    margin: 0 auto; /* Устанавливаем внешние отступы сверху и снизу в 0, а по бокам автоматически выравниваем по центру */
    text-rendering: optimizeLegibility; /* Оптимизация отображения текста для улучшения читаемости */
    -webkit-font-smoothing: antialiased; /* Улучшение сглаживания шрифтов в веб-браузерах с поддержкой -webkit (Chrome, Safari) */
    -moz-osx-font-smoothing: grayscale; /* Улучшение сглаживания шрифтов в веб-браузерах с поддержкой -moz (Firefox) */
    -webkit-text-size-adjust: 100%; /* Управление размером текста для браузеров на базе WebKit (Chrome, Safari) */
    -ms-text-size-adjust: 100%; /* Управление размером текста для браузеров Internet Explorer */
    -moz-text-size-adjust: 100%; /* Управление размером текста для браузеров на базе Gecko (Firefox) */
    min-height: 100vh; /* Задание минимальной высоты равной 100% высоты видимой области (viewport height) */
    display: flex; /* Установка блока в режиме flex-контейнера с направлением колонки (сверху вниз) */
    flex-direction: column; /* Установка блока в режиме flex-контейнера с направлением колонки (сверху вниз) */
    font-family: 'Inter', 'Helvatica', sans-serif; /* Задание шрифта для текста, предпочтительно начиная с 'Inter', и в случае его отсутствия - 'Helvetica', а затем - шрифты без засечек (sans-serif) */
  }