.container__bottom_color_first {
  background-color: rgba(250, 251, 196, 1);
  max-width: 33.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 352px) {
  .container__bottom_color_first {
    min-width: 100%;
  }
}
